
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: antiquewhite;
  letter-spacing: 2px;
}

body {
  background-image: url("https://wallpaperaccess.com/full/1722876.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#date {
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  word-spacing: 1px;
}

#time {
  font-size: medium;
}

#inp {
  color: rgba(202, 91, 91, 0.637);
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 26px;
  border-radius: 32px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  font-size: 16px;
  width: 40vw;
}

.child {
  border-radius: 25px;
  width: 60vw;
  height: 50vh;
  background-color: rgba(202, 91, 91, 0.637);
}
/* Media Queries */

/* For devices with a maximum width of 768px */
@media only screen and (max-width: 768px) {
  body {
    padding: 20px;
  }

  .child {
    width: 90vw;
    height: 70vh;
  }

  #inp {
    font-size: 14px;
  }
}

/* For devices with a maximum width of 480px */
@media only screen and (max-width: 480px) {
  body {
    padding: 10px;
  }

  .child {
    width: 95vw;
    height: 80vh;
  }

  #inp {
    font-size: 12px;
  }
}
